@import "origionalOverlay/_dateTime.scss";
@import "origionalOverlay/_briefWeather.scss";
@import "origionalOverlay/_extendedWeather.scss";
@import "origionalOverlay/_forecast.scss";
@import "origionalOverlay/_newsContainer.scss";

.origionalOverlay {
    position: absolute;
    left:     0;
    top:      0;
    width:    100%;
    height:   100%;
}
