@import "origionalOverlay/_dateTime.scss";
@import "origionalOverlay/_briefWeather.scss";
@import "origionalOverlay/_extendedWeather.scss";
@import "origionalOverlay/_forecast.scss";
@import "origionalOverlay/_newsContainer.scss";
@import "origionalOverlay/_quoteContainer.scss";

.origionalOverlay {
    position: absolute;
    left:     0;
    top:      0;
    width:    100%;
    height:   100%;
}

.newsAttribution {
    position: absolute;

    right:  0;
    bottom: 0;

    font-size: 1vw;
}

.weatherAttribution {
    position: absolute;

    left:   0;
    bottom: 0;

    font-size: 1vw;
}
