.dateTime{
    .time {
        position: absolute;
        left:     5%;
        top:      4%;
        width:    28%;

        text-align:  center;

        .hour, .timeSeparator, .minute {
            font-size:   180px;
            font-weight: 100;
        }

        .timeSeparator {
            margin-left:  .25em;
            margin-right: .25em;
        }
    }

    .date {
        position: absolute;
        left:     5%;
        top:      25%;
        width:    28%;

        text-align:  center;
        font-size:   44px;
        font-weight: 500;
    }
}