.newsContainer {
    position:  absolute;
    left:      64.5%;
    top:       24.5%;
    height:    37%;
    width:     31%;
    transform: rotate(8deg);

    .newsItem {
        width:     100%;
        transform: rotate(-8deg);

        .thumb {
            width: 15%;
            float: left;

            margin-right: 15px;
        }

        .title {
            font-size:   26px;
            font-weight: 400;
        }
    }
}